/* Reset some default styles */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Apply a modern and clean font */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}

/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Logo Styles */
header h1 {
    margin: 0; /* Remove margin from h1 */
}

.logo img {
    max-width: 200px;
}

/* Navigation Styles */
nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0; /* Remove default padding */
}

nav ul li {
    display: inline; /* Display list items inline */
    margin: 0 20px; /* Adjust margin for spacing */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f7f7f7;
}

/* Product Styles */
.product {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}








/* Responsive Styles */
@media (max-width: 768px) {
    nav ul li {
        margin: 10px 0; /* Adjust margin for spacing */
    }

    .product {
        margin: 10px;
    }
}





